name: Karate API - Slack Integration

on:
  push:
    branches: [ "master" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'
          
      - name: Run Karate API Tests
        run: mvn clean test
        
      - name: Show Workspace Directory
        run: echo ${{ github.workspace }}
        
      - name: Karate DSL upload reports
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: Test Reports
          path: | 
            ./target
            
      - name: Print all files
        run: |
          find . -type f -exec ls -la {} \;
          
      - name: Send custom JSON data to Slack workflow
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload-file-path: './target/slack-report.json'
        env:
          SLACK_WEBHOOK_URL: https://hooks.slack.com/services/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

